.add_new_product_btn{
    text-decoration:none;
    color:black;
    width:230px;
    height:40px;
    border:none;
    border:1px solid black;
    border-radius:5px;
    text-align:center;
    margin:5px;
    display:inline-block;
    padding:5px;
}



.add_new_product_btn:hover{
    background:#59AB6E;
    color:white;
    transition:0.3s;

}